
.title {
    font-size: 5em; /* Adjust as needed */
    color: #fff; /* White color for the text */
    text-align: center; /* Center the text */
    padding: 20px; /* Add some padding */
    background-color: #6a0dad; /* Purple background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 0px 15px 5px rgba(106, 13, 173, 0.75); /* Purple glow effect */
}

.parent-container {
    display: flex;
    justify-content: space-around;
}

.yo, .zoo, .Too {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    margin-bottom: 50px; /* Add margin between elements */
    width: 400px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 40px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    margin: 60px auto;

}

.container{
    /* background-image: url('https://c4.wallpaperflare.com/wallpaper/413/916/1009/purple-4k-lavender-farm-blossom-wallpaper-preview.jpg'); */
    display: inline-block;
    flex-direction: column;
    margin-top: 150px;
    background:#430A5D;
    padding-bottom :30px;
    margin-left: 100px;
    margin-right: 300px;
    width: 600px;
    border-radius: 10%;
    opacity: 0.8;

}

.container2{
    display :inline-block;
    flex-direction: column;
    margin-top: 150px;
    background:#430A5D;
    margin-right: 100px;
    padding-bottom :30px;
    width: 600px;
    border-radius: 10%;
    opacity: 0.8;
    position: relative;
    height: 100%;

}

.container2 h2{
    color: #fff;
    text-align: center;

}

.container h2{
    color: #fff;
    text-align: center;
}



body{
    /* background-image: url('./assets/Lavender-Farms-in-Ontario-for-a-Day-Trip.webp'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}
