.gradient-button{
    background: linear-gradient(to right, #6a0dad, #bb60b2);
    
    hover:bg-blue-800;
    focus:ring-4;
    focus:outline-none;
    focus:ring-blue-300;
    dark:bg-blue-600;
    dark:hover:bg-blue-700;
    dark:focus:ring-blue-800;
}